@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  --heading: 3rem;
  --main-text: 2rem;
  --body-text: 1.5rem;
}

.service {
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

body {
  height: 100svh;
  width: auto !important;
  background-color: #F3FAF6;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  overflow-x: hidden;
  margin: 0 11%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #F3FAF6;
  padding: 1.5em 10%;
  border-bottom: 1px solid rgba(90, 90, 90, 0.35);
}

nav img {
  width: 300px;
  height: auto;
}

nav ul {
  font-size: var(--body-text);
  font-weight: 400;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 2em;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  margin: 8em 0;
  gap: 8em;
}

h1 {
  font-size: var(--heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.1em;
}

h2 {
  font-size: var(--main-text);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.1em;
  text-align: center;
}

h3 {
  font-size: var(--body-text);
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(127, 240, 178, 0.25);
  color: #2D6848;
  padding: 0.4em;
  border-radius: 8px;
}

.button {
  text-align: center;
}

.button a {
  font-size: var(--body-text);
  font-weight: 500;
  border-radius: 8px;
  padding: 0.3em 1.2em;
  color: #FFF;
  background-color: #2D6848;
}

p,
li {
  font-size: var(--body-text);
  font-weight: 400;
}

span {
  color: #2D6848;
  font-weight: 700;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.flex_center header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 45%;
  gap: 2em;
}


.flex_center .image .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.flex_center .image img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 500px;
}

/* Carousel */

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 2rem));
    /* Moves halfway through to repeat seamlessly */
  }
}

.carousel-container {
  display: flex;
  background-color: rgba(127, 240, 178, 0.25);
  overflow: hidden;
  padding: 1rem;
  gap: 4rem;
}

.carousel-container:first-child {
  left: 2rem;
}

.carousel-container .carousel {
  display: flex;
  gap: 4rem;
  -webkit-animation: carousel-animation 30s linear infinite;
  animation: carousel-animation 30s linear infinite;
}

.carousel-container .carousel img {
  height: 50px;
  width: auto;
}

/* About */
#howto {
  flex-direction: row-reverse;
}

#howto header {
  width: 50%;
}

#howto img {
  width: 500px;
}

#howto ul {
  list-style: none;
  font-size: var(--main-text);
}

#howto ul li {
  margin-bottom: 1em;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
}

#services .service {
  padding: 2rem 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  background-color: #E9F3ED;
}

#courses {
  text-align: center;
  flex-direction: column;
  gap: 5rem;
  background-color: rgba(127, 240, 178, 0.25);
  border-radius: 8px;
  padding: 3rem 1rem;
}

#courses .choice {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#courses .choice .option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#courses .choice .option img {
  width: 200px;
}

/* Testimonials */
.testimonial-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.testimonial {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: left;
}

.testimonial-text p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}

.testimonial-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.testimonial-info .name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.testimonial-info .role {
  font-size: 14px;
  color: #777;
  font-style: italic;
}

/* Expect */
.expect-container {
  margin-top: 10px;
  max-width: 100%;
  padding: 10px;
}

/* Pricing */

#pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
}

#pricing .plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  background-color: #E9F3ED;
  padding: 1em 2em 3em 2em;
  border-radius: 1rem;
}

#pricing .plan * {
  text-align: left;
}

#pricing .plan.__fav {
  background-color: rgba(127, 240, 178, 0.25);
}

#pricing .plan.__fav .best {
  visibility: visible;
}

#pricing .plan .best {
  height: 35px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  visibility: hidden;
}

#pricing .plan .best p {
  color: #2D6848;
}

#pricing .plan .desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

#pricing .plan .desc>p {
  color: #646D68;
}

#pricing .plan .desc h2 {
  font-weight: 700;
}

#pricing .plan .desc .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

#pricing .plan .desc .list .point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

#pricing .plan .desc .list .point p {
  width: 80%;
}

#pricing .plan .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

/* Footer */

footer {
  width: 100%;
  background-color: #2D6848;
  border-radius: 8px;
  padding: 4rem 0;
  margin-bottom: 0rem;
}

footer img {
  width: 300px;
}

footer p {
  margin: auto;
  padding-top: 0.5rem;
  width: 90%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

footer * {
  color: #FFF;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

footer ul {
  list-style: none;
  width: 45%;
}

footer ul li {
  margin-bottom: 0.5em;
}

.soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.soon svg {
  width: 600px;
  min-width: auto;
  max-width: 100%;
  height: auto;
  min-height: auto;
  max-height: 100%;
}

/* General Media Queries */
@media (max-width: 1400px) {
  html {
    --heading: 2.5rem;
    --main-text: 1.5rem;
    --body-text: 1rem;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 0 2%;
  }

  nav img {
    width: 150px;
  }

  nav {
    padding: 1em;
  }

  main {
    margin: 5em 0;
    gap: 4em;
  }

  footer img {
    width: 150px;
  }

  .flex_center {
    flex-direction: column;
  }

  .flex_center header {
    max-width: 100%;
    gap: 2em;
  }

  .flex_center .image {
    max-width: 100%;
  }

  #howto {
    flex-direction: column;
    gap: 3rem;
  }

  #howto header {
    width: 100%;
  }

  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  .testimonial-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  html {
    --heading: 2rem;
    --main-text: 1rem;
    --body-text: 0.8rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1em;
  }

  main {
    margin: 5em 0;
    padding: 10px;
  }

  .flex_center .image img {
    width: 300px;
    padding-top: 40px;
  }

  .expect-image img {
    width: 300px;
  }

  #howto img {
    width: 300px;
  }

  #services .service {
    padding: 1rem;
  }

  .calendly-inline-widget {
    padding: 2em;
  }

  #services .service img {
    width: 50px;
  }

  #courses .choice .option img {
    width: 100px;
  }

  #pricing .plan {
    padding: 1em;
  }
}